<div class="container-fluid main-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">What is Enforcement?</div>
        <div class="panel-body">
          <p>
            Enforcement is an incident tracking application built from the ground up to make
            <span class="text-primary">tracking and analyzing</span> officer interactions faster and more useful.
          </p>
          <p>
            Lorem ipsum dolor sit amet, non sit fames aenean wisi phasellus urna, inceptos condimentum dolor quis
            auctor, in pede eget pede morbi tincidunt ipsum, viverra tempor. Orci donec in adipiscing amet amet.
            Semper tincidunt, magna aliquam donec non non proin, consequat magna, molestie ipsum. Turpis tincidunt
            tempus nunc. Eget enim molestie tellus ut, vitae ultrices, aliquam at congue sapien nec dolor, nunc
            purus velit et interdum eget velit, in velit volutpat. Turpis dignissim nascetur ut etiam euismod,
            accumsan pellentesque habitant in diam elit, a in sit bibendum nullam. Tortor est, sollicitudin aut,
            venenatis libero. Maecenas posuere tempus est diam. Ultricies et.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
